{% extends "base.html" %}

{% block content %}
<head>
		<!--<link rel="stylesheet" type="text/css" 
		href="{{ url_for('static', filename='order.css') }}">-->
		<style>
/*			#order_table td, #order_table th {
	border: 1px, solid #ddd;
	padding: 8px;
}

#order_table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#order_table tr:hover {
	background-color: #ddd;
}

#order_table th {
 padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;cs
*/}
		</style>
		<script>
			function showBrotField(){
				if(document.getElementById('checkbox_brot').checked){
					document.getElementById('brot').style.display = 'block';
				} else {
					document.getElementById('brot').style.display = 'none';				
				}			
			}
		</script>
<head>
    <h1>WURSTTHEKE</h1>
    <form action="" method="post" novalidate>
    
        <table>
            <tr>
                <td>{{ form.name.label }}</td>
                <td>{{ form.name(size=15) }}</td>
            </tr>
            <tr>
                <td>{{ form.bratwurst.label }}</td>
                <td>{{ form.bratwurst }}</td>
            </tr>
            <tr>
                <td>{{ form.schinkengriller.label }}</td>
                <td>{{ form.schinkengriller }}</td>
            </tr>
            <tr>
			<td>{{ form.broetchen.label }}</td>
                	<td>
				<label class="container">
					<input id="checkbox_brot" type="checkbox" 
						name="willst_du_broetchen"    	
				            onchange="showBrotField()">
					<span class="checkmark"></span>
				</label>
			</td>
			
	          <td><input id="brot" type="input" name="broetchen" 
		            placeholder="Wieviele?" hidden></td>
            </tr>
            <tr>
                <td>{{ form.selbstversorger.label }}</td>
                <td>{{ form.selbstversorger }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.submit() }} 
                    <input type="reset" name="test" value="Reset">
                </td>
            </tr>
        </table>    
        <!---------------------------------------------------->
    <!--    <p>
            	{{ form.name.label }}<br>
            	{{ form.name(size=15) }}
        </p>
	    <p>
	    	    {{ form.bratwurst.label }}<br>
		        {{ form.bratwurst }}
	    </p>
	    <p>
	    	    {{ form.schinkengriller.label }}<br>
		        {{ form.schinkengriller }}
	    </p>
	    <p>
	            {{ form.broetchen.label }} <br>
	            <!--{{ form.broetchen }} 
	            <input id="checkbox_brot" type="checkbox" name="willst_du_broetchen"    	
		            onchange="showBrotField()"> 
		        <input id="brot" type="input" name="broetchen_anzahl" 
		            placeholder="Wieviele?" hidden>
	    </p>
	    <p>
	    	    {{ form.selbstversorger.label }}<br>
		        {{ form.selbstversorger }}
	    </p>
        <p>{{ form.submit() }}</p>
        <input type="reset" name="test" value="Reset">
	-->
    </form>
    {% if bestellt %}
	<p>Bestellungen wurden entgegenommen.</p>
    {% endif %}
{% endblock %}
